@model IEnumerable<Multas.Models.Agentes>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if(User.IsInRole("GestorDePessoal"))
<p>
    @Html.ActionLink("Criar Novo Agente", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome) @* model => model.Nome --> espressão Labda*@
            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Esquadra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fotografia)
        </th>
        <th></th>
    </tr>
    @*item-agente, model-lista de agentes*@
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Esquadra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fotografia)
            <a href="~/imagens/@item.Fotografia" target="_blank">
                <img src="~/imagens/@item.Fotografia" width="50" height="37" />
            </a>
        </td>
        <td>
            @if (User.IsInRole("GestaoDePessoal"))
    {
        @*links de acesso a editar, detalhes e apagar*@
        <text>
            @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Detalhes", "Details", new { id = item.ID }) |
            @Html.ActionLink("Apagar", "Delete", new { id = item.ID })
        </text>
        @*o bloco text, serve para colocar tudo no mesmo if*@
}
else
{
        @*Os links vão ser acedidos dependedo do user que tem o login feito
            se a tania tiver o login feito, apenas poderá alterar os dados da tania*@
        if (User.Identity.Name.Equals(agente.Username)
{
        <text>
            @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Detalhes", "Details", new { id = item.ID }) |
            @Html.ActionLink("Apagar", "Delete", new { id = item.ID })
        </text>


}


}
        </td>
    </tr>
}

</table>
